# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# turbo
.turbo/

# drizzle
packages/db/drizzle/

# misc
*.tsbuildinfo
next-env.d.ts
